.head {
    background-color: grey;
    text-align: center;
    color: white;
    padding: 20px 50px;
}

.submitButton {
    background-color: coral;
}

div {
    width: 752px;
}

.p {
    text-align: right;
}